<form action="/search" method="GET">
    <div class="row" id="searchRow">
        <div class="mx-5 p-2 col-6">
            <input name="searchTerm" type="search" id="searchTerm" class="col-3 p-1" placeholder="بحث" value="">
            <input class="col-3 btn btn-outline-success  shadow-sm fw-bold" id="sender" type="submit" value="بحث">
            <a href="/cancel" class="col-1 btn btn-outline-danger text-dark border-0 ">X</a>
            <div class="col-4 form-check form-switch flex">
                <input class="col-2 form-check-input" type="checkbox" id="checkBoxIsSaved"
                 name="isSaved"  <%= (areSaved==true)?  "checked":"" %> 
                 value="<%= (areSaved==true)?  'saved':'not-saved'%>">
                <label class="col-10 form-check-label" id="checkBoxIsSavedLabel"><%(areSaved==true)? 'المحينين':'في الانتظار' %></label>
            </div>
            <p class="col-6 h6">نتـيجـة البــحث :<%= count %> عــدد الصـفحات :<%= pages %> </p>

        </div>




        <div class="m-1 col-5">
            <% let totalLinks=pages>9? 9: pages;%>
            <% let middle=(pages>9)? 5:Math.ceil(pages/2); %>
            <% let startLink=(pages>9 && currentPage>=middle)?  Number(currentPage)-Math.floor(totalLinks/2): 1;%>
            <% let endLink=(pages>9 && currentPage<= Number(pages)-Number(middle))?  Number(currentPage)+Math.floor(totalLinks/2):pages;%>
            <% endLink=(endLink<9 && pages>9)? 9:endLink;%>
            <% startLink=(pages-startLink<9 && pages>9)? pages-9:startLink;%>
            <% let position=currentPage<=middle? currentPage:middle ; %>
            <% if(Number(currentPage)-100>1){ %>
                <a href="/view-all/?page=<%=currentPage-100%>" class=" col-1 btn btn-outline-danger rounded-circle  border-0 fw-bold"> <<  </a>
                <% } %>
 
            <% for (index=startLink;index<=endLink;index++){%>
                <% if (index==currentPage){%>
                    <a href="/view-all/?page=<%=index%>" class=" col-1 btn btn-outline-primary rounded-circle  border-0 fw-bold"><%= index  %></a>
            <%    }  else {%>
            <a href="/view-all/?page=<%=index%>" class=" col-1 btn btn-outline-secondary rounded-circle  border-0"><%= index  %></a>
            <% }} %>
            <% if(Number(currentPage)+100<pages){ %>
                <a href="/view-all/?page=<%= Number(currentPage)+100%>" class=" col-1 btn btn-outline-danger rounded-circle  border-0 fw-bold"> >> </a>

                <% } %>
        </div>
    </div>
</form>