<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">الرقم</th>
                <th scope="col">العداد</th>
                <th scope="col">الاسم</th>
                <th scope="col">العنوان</th>
                <th scope="col">القديم</th>
                <th scope="col">الحديد</th>
                <th scope="col">جزافي</th>
                <th scope="col">آخر تعديل</th>
                <th scope="col px-5">مـعـاينــة</th>
            </tr>
        </thead>
        <tbody>



            <% consumers.forEach(consumer=> { %>
                <tr class="align-middle ">
                    <td>
                        <%= consumer.no %>
                    </td>
                    <td>
                        <%= consumer.watermeterId %>
                    </td>
                    <td>
                        <%= consumer.name %>
                    </td>
                    <td>
                        <%= consumer.address %>
                    </td>
                    <td>
                        <%= consumer.oldConsumption %>
                    </td>
                    <td>
                        <%= consumer.newConsumption %>
                    </td>
                    <td>
                        <%= consumer.isFlatRated? "جزافي" :"" %>
                    </td>
                    <td>
                        <%= new Date(consumer.editedAt).toUTCString() %>
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-start gap-2">
                            <button class=" btn btn-info btn-small centered" data-bs-toggle="modal"
                                data-bs-target="#view-one-modal"
                                data-consumer="{'watermeterId':'<%= consumer.watermeterId%>','no':'<%= consumer.no%>','name':'<%= consumer.name%>','address':'<%=consumer.address %>','oldConsumption':'<%= consumer.oldConsumption %>','newConsumption':'<%= consumer.newConsumption %>','isFlatRated':<%=consumer.isFlatRated  %>}">
                                معاينة</button>
                        </div>
                    </td>
                </tr>

                <% }) %>
        </tbody>
    </table>
</div>







<div class="modal fade" id="view-one-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-info" id="content-modal">
            <div class="modal-header">
                <h5 class="h6 modal-title " id="exampleModalLabel">بيانات المستهلك</h5>
                <input class="h6 modal-title bg-info border-0" disabled name="no">
                <button type="button" class="close bg-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <label for="recipient-name" class="col-2">العداد:</label>
                        <input type="text" class="col-5" name="watermeterId">
                        
                        <label for="recipient-name" class="col-2">جزافي</label>
                        <input type="checkbox" class="col-2" name="isFlatRated">
                        <div class="col-6">
                            <label for="recipient-name" class="col-form-label">الاسم:</label>
                            <input type="text" class="form-control" name="name">
                            <label for="recipient-name" class="col-form-label">القديم:</label>
                            <input type="text" class="form-control" name="oldConsumption" value="<%= consumers.name %>">
                        </div>
                        <div class="col-6">
                            <label for="message-text" class="col-form-label">العنوان:</label>
                            <input type="text" class="form-control" name="address">
                            <label for="recipient-name" class="col-form-label">الجديد:</label>
                            <input type="text" class="col-3 form-control" name="newConsumption">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-btn" class="btn btn-secondary" data-bs-dismiss="modal">رجوع</button>
                <button type="button" id="save-btn" class="btn btn-success">تخزين</button>
                <button type="button" id="delete-btn" class="btn btn-danger">حذف</button>
            </div>
        </div>
    </div>
</div>