<form action="/editList" method="POST">
   <div class="row">
      <div class="col-5">
         <a href="/editList/?page=1" class="col-1  btn btn-outline-success shadow-sm">اﻷولى</a>
         <% if (hasPreviousPage) { %>
            <a href="/editList/?page=<% previousPage%>" class="col-2  btn btn-outline-success shadow-sm">&#8249; ص :
               <%= previousPage %>
            </a>
            <% }else{ %>
               <a href="#" class="col-2   btn btn-outline-success shadow-sm"> &#8249;** </a>
               <% } %>
         <% if (hasNextPage) { %>
            <a href="/editList/?page=<%= nextPage%>" class="col-2 btn btn-outline-primary shadow-sm"> ص : <%=
                  nextPage %> &#8250; </a>
            <% }else{ %>
               <a href="#" class="col-2   btn btn-outline-primary shadow-sm">** &#8250; </a>
         <% } %>
                  <a href="/editList/?page=<%= pages%>"
                     class="col-1  btn btn-outline-success shadow-sm">اﻷخيرة</a>
                  <a href="#" class="col-1 px-3">
                     <%= pages %> صفحات
                  </a>
      </div>
   </div>
</form>
