<form action="/editList" method="POST">
   <div class="row">
      <div class="col-7">
         <input class="col-4" name="searchTerm" id="searchTerm" placeholder="البحث بالاسم او العنوان" value="">
         <input class="col-2 btn btn-outline-success shadow-sm fw-bold" id="sender" type="submit" value="بحث"
            onclick="saveSearchZone()">
         <a href="#" class="col-2"></a>
         <a href="#" id="desplayCount" class="col-2">العدد :<%= count%> مستهك</a>
         <a href="#" id="deleteSearchCookie" class="col-2 btn btn-danger fw-bold" onclick="setCookie('searchTerm','',2)">إلغاء البحث</a>
      </div>
      <div class="col-5">
         <a href="/editList/?page=1" class="col-1  btn btn-outline-success shadow-sm">اﻷولى</a>
         <% if (hasPreviousPage) { %>
            <a href="/editList/?page=<% previousPage%>" class="col-2  btn btn-outline-success shadow-sm">&#8249; ص :
               <%= previousPage %>
            </a>
            <% }else{ %>
               <a href="#" class="col-2   btn btn-outline-success shadow-sm"> &#8249;** </a>
               <% } %>
         <% if (hasNextPage) { %>
            <a href="/editList/?page=<%= nextPage%>" class="col-2 btn btn-outline-primary shadow-sm"> ص : <%=
                  nextPage %> &#8250; </a>
            <% }else{ %>
               <a href="#" class="col-2   btn btn-outline-primary shadow-sm">** &#8250; </a>
         <% } %>
                  <a href="/editList/?page=<%= pages%>"
                     class="col-1  btn btn-outline-success shadow-sm">اﻷخيرة</a>
                  <a href="#" class="col-1 px-3">
                     <%= pages %> صفحات
                  </a>
      </div>
   </div>
</form>
<form action="/searchByNo" method="POST">
   <div class="row">
      <div class="col-7">
         <label href="">البحث بالرقم</label>
         <input type="text" name="searchNumber">
         <input type="submit" name="submit" class="btn btn-outline-danger" value="بحث بالرقم">
      </div>
   </div>
</form>